<%- include('../partials/header', { title: 'Saved Movies - Purrfect Movie Rec' }) %>


<!-- Include the menu -->
<%- include('../partials/menu') %>

<div class="container mt-4">
    <!-- Page heading -->
    <h2 class="mb-4">Saved Movies</h2>

    <!-- Movie cards in a grid -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% savedMovies.forEach(movie => { %>
            <div class="col">
                <!-- Bootstrap card for each movie -->
                <div class="card">
                    <!-- Movie poster at the top of the card -->
                    <% if (movie.image_url) {%>
                        <img src="<%= movie.image_url    %>" class="card-img-top">
                    <% } else { %>
                        <img src="/img/poster-not-available.jpg">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.title %></h5>
                        <p class="card-text"><strong>Release Date:</strong> <%= movie.release_date %></p>
                        <p class="card-text"><strong>Genre:</strong> <%= movie.genres %></p>
                        <p class="card-text"><strong>Average Score:</strong> <%= movie.vote_average %></p>
                        <p class="card-text"><strong>Overview:</strong> <%= movie.overview %></p>

                        <button 
                            class="btn btn-primary delete-save-movie-btn" 
                            data-title="<%= movie.title %>" 
                            data-user="<%= user %>" 
                            style = "background-color:rgb(246, 62, 62)"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</div>

<!-- Include the footer -->
<%- include('../partials/footer') %>
